
		<table class="table">
			<tr>
				<th>Sr</th>
				<th>Topic</th>
				<th>Links</th>
			</tr>
			{% for lecture in site.data.all.lectures %}
			<tr>
				<td> {{site.data.all.sno[forloop.index]}} </td>
				<td> {{lecture.topic | default: ""}} </td>
				<td>
					{% if lecture.video %} 
					<a href="{{lecture.video}}" target="youtube">Video</a>
					{% endif %} 
					{% if Iqra-Univ-Weekly-Lectures%} 
					 | <a href="files/{{Iqra-Univ-Weekly-Lectures.notes}}">Slides</a>
					{% endif %} 
					{% if lecture.notes %} 
					 | <a href="files/{{lecture.notes}}">Notes</a>
					{% endif %} {% if lecture.exercises %} 
					 | <a href="files/{{lecture.exercises}}">Exercise</a>
					{% endif %} 
					
				</td>
			</tr>
			{% endfor %}
		</table>
